  .header-image {
    position:absolute;
    top: 0;
    left: 0; 
    width: 8%; 
    height: auto;
  }

.cinema-studios-header {
    background-color: #1f1e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header-title {
    font-size: 2rem;
    margin: 0;
  }
  
  .header-subtitle {
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
  }
